POSTGRES_USER=payment_user
POSTGRES_PASSWORD=payment_pass
APP_CRYPTO_SECRET=0123456789abcdef
JWT_SECRET=YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXoxMjM0NTY=
JWT_EXPIRATION=86400000
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379
RATE_LIMIT_ENABLED=true
# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxx
# Payment
PAYMENT_PROVIDER=STRIPE
PAYMENT_WEBHOOK_SECRET=whsec_xxxxxxxxxxxx
PAYMENT_WEBHOOK_HEADER_NAME=Stripe-Signature
CORS_ALLOWED_ORIGIN_1=http://localhost:3000
CORS_ALLOWED_ORIGIN_2=http://localhost:3333
